{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Home</title>
{% endblock %}



{% block content  %}


        <form method="post" class="container jumbotron">
            {% csrf_token %}
                        <h2 align="center" class="text-primary">Enter Your Information</h2>
                        
                    {{ forms|crispy }}

                    <button type="submit" class="btn btn btn-primary">Add Employee</button>




        </form>
    
{% endblock content  %}
    